<div class="detail-container">
  <div class="close-handle" (click)="onClose()">
    <div class="close-icon"></div>
  </div>
  <div class="edit-handle" (click)="onEdit()" *ngIf="!editMode" title="Modifier le membre">
    <i class="pi pi-user-edit edit-icon"></i>
  </div>
  
  <form [formGroup]="memberForm" *ngIf="editMode; else viewMode">
    <p-card>
      <ng-template pTemplate="header">
        <div class="card-header">
          Informations personnelles
          <i class="pi pi-id-card icon-right"></i>
        </div>
      </ng-template>
      <p><strong>Nom :</strong> <input type="text" formControlName="lastName" class="form-input"></p>
      <p><strong>Prénom :</strong> <input type="text" formControlName="firstName" class="form-input"></p>
      <p><strong>Genre :</strong> <input type="text" formControlName="gender" class="form-input"></p>
      <p><strong>Date de naissance :</strong> 
        <p-calendar formControlName="birthDate" 
                   [showIcon]="true" 
                   dateFormat="dd/mm/yy"
                   placeholder="Sélectionner une date"
                   class="date-picker">
        </p-calendar>
      </p>
    </p-card>

    <p-card>
      <ng-template pTemplate="header">
        <div class="card-header">
          Coordonnées
          <i class="pi pi-map-marker icon-right"></i>
        </div>
      </ng-template>
      <p><strong>Téléphone :</strong> <input type="text" formControlName="phoneNumber" class="form-input"></p>
      <p><strong>Email :</strong> <input type="email" formControlName="email" class="form-input"></p>
      <p><strong>Ville :</strong> <input type="text" formControlName="city" class="form-input"></p>
    </p-card>

    <p-card>
      <ng-template pTemplate="header">
        <div class="card-header">
          Profession
          <i class="pi pi-briefcase icon-right"></i>
        </div>
      </ng-template>
      <p><strong>Profession :</strong> <input type="text" formControlName="profession" class="form-input"></p>
    </p-card>

    <div class="button-row">
      <p-button label="Enregistrer" 
                icon="pi pi-save" 
                (onClick)="onSave()" 
                [disabled]="!memberForm.valid"
                severity="success"
                class="full-button">
      </p-button>
      <p-button label="Annuler" 
                icon="pi pi-ban" 
                (onClick)="onCancel()" 
                severity="danger"
                class="full-button">
      </p-button>
    </div>
  </form>

  <ng-template #viewMode>
    <p-card>
      <ng-template pTemplate="header">
        <div class="card-header">
          Informations personnelles
          <i class="pi pi-id-card icon-right"></i>
        </div>
      </ng-template>
      <p><strong>Nom :</strong> {{ member.lastName }}</p>
      <p><strong>Prénom :</strong> {{ member.firstName }}</p>
      <p><strong>Genre :</strong> {{ member.gender }}</p>
      <p><strong>Date de naissance :</strong> {{ member.birthDate | date:'dd/MM/yyyy' }}</p>
    </p-card>

    <p-card>
      <ng-template pTemplate="header">
        <div class="card-header">
          Coordonnées
          <i class="pi pi-map-marker icon-right"></i>
        </div>
      </ng-template>
      <p><strong>Téléphone :</strong> {{ member.phoneNumber }}</p>
      <p><strong>Email :</strong> {{ member.email }}</p>
      <p><strong>Ville :</strong> {{ member.city }}</p>
    </p-card>

    <p-card>
      <ng-template pTemplate="header">
        <div class="card-header">
          Profession
          <i class="pi pi-briefcase icon-right"></i>
        </div>
      </ng-template>
      <p><strong>{{ member.profession }}</strong></p>
    </p-card>
  </ng-template>
</div>
  